<p id="notice"><%= notice %></p>

<h1 class="text-center" style="font-family: verdana; font-size: 20px;">Lista de dise単os</h1></br></br>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Dise単o</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @designs.each do |design| %>
      <tr>
        <td><%= design.nombre %></td>
        <td><%= design.descripcion %></td>
        <td><%= image_tag design.image.url(:thumb) %></td>
        <td><%= link_to 'Ver', design,  class: 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_design_path(design) ,  class: 'btn btn-success'%></td>
        <td><%= link_to 'Eliminar', design, method: :delete, data: { confirm: 'Seguro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="/reporte_dise単os" class="btn btn-warning" >Reporte</a>
<%= link_to 'Nuevo Dise単o', new_design_path, class: 'btn btn-default' %>
<%= link_to 'Inicio', root_path, class: 'btn btn-info' %>
