<p id="notice"><%= notice %></p>

<h1 class="text-center" style="font-family: verdana; font-size: 20px;">Reporte de materiales</h1></br></br>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Color</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.nombre %></td>
        <td><%= material.tipo %></td>
        <td><%= material.color %></td>
        <td><%= material.cantidad %></td>
      </tr>
    <% end %>
  </tbody>
</table>